body{
font-family:Arial;
margin:0;
padding:0;
}

.header{
background:#ffd8a8;
padding:15px;
text-align:center;
}

.search-row{
display:flex;
justify-content:center;
gap:10px;
margin:15px;
}

#searchBtn{
background:#007bff;
color:white;
border:none;
padding:6px 12px;
}

.top-buttons{
text-align:center;
margin:10px;
}

#clearFilters{
background:red;
color:white;
border:none;
padding:8px 15px;
}

.tables{
display:flex;
justify-content:space-around;
padding:10px;
}

.left,.right{
width:45%;
}

table{
border:2px solid #222;
width:100%;
border-collapse:collapse;
}

th{
background:#444;
color:white;
padding:8px;
}

td{
border:2px solid #333;
padding:6px;
}

.addBtn{
background:red;
color:white;
border:none;
padding:5px 10px;
}

.deleteBtn{
background:red;
color:white;
border:none;
padding:5px 10px;
}

#downloadBtn{
background:#FFF4D6;
color:black;
border:1px solid #d6c59a;
padding:8px 15px;
font-weight:bold;
cursor:pointer;
}

#downloadBtn:hover{
background:#f3e3b6;
}
